<?xml version='1.0' encoding='utf-8'?>
<widget id="com.chorsipahi.game" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Chor Sipahi</name>
    <description>Chor Sipahi Game</description>
    <author email="dev@example.com" href="http://cordova.io">Developer</author>
    <content src="index.html" />

    <!-- Access Policies -->
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />

    <!-- Android Specific Preferences -->
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="GrantPermissions" value="true" />

    <plugin name="cordova-plugin-android-permissions" spec="^1.1.5" />

    <platform name="android">
        <icon src="res/icon.png" />
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>

        <!-- Force Android WebView to automatically ask for runtime permissions -->
        <preference name="AndroidInsecureFileModeEnabled" value="true" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.AUDIO_CAPTURE" />
        </config-file>
    </platform>
</widget>