<?xml version='1.0' encoding='utf-8'?>
<widget id="com.anurag.chorsipahi" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Chor Sipahi</name>
    <description>Chor Sipahi Game</description>
    <author email="dev@example.com">Anurag Dhiman</author>
    <content src="index.html" />
    
    <!-- Allow access to external servers -->
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="ws://*/*" />
    <allow-intent href="wss://*/*" />
    
    <preference name="Scheme" value="https" />
    <preference name="Hostname" value="localhost" />
</widget>
